/* Header */
.navbar-header h1 {
  margin: 0;
  text-align: center;
  width: 100%;
  position: absolute;
  color: #333;
}

.navbar-nav {
  list-style: none;
  margin: 0;
}

html {
  background-color: #fff;
}

/* Main content */
body {
  padding-top: 70px;
  padding-bottom: 70px;
  font-family: 'Roboto', sans-serif;
}

.media-object {
  width: 100px;
}

/* Navigation */
.navbar-center {
  margin: 0 auto;
  display: table;
  table-layout: auto;
  float: none;
  width: 100%;
}
.navbar-center > li {
  display: table-cell !important;
  float: none !important;
  text-align: center;
}

.navbar-default .navbar-center > .active > a,
.navbar-default .navbar-center > .active > a:hover {
  color: #428bca !important;
  background-color: transparent !important;
}

.navbar-default .navbar-center > li > a:hover {
  color: #777;
}

.navbar-nav > li > a {
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 20px;
}




/*********
TWYLLS
 */
ul.twylls-list {
  list-style: none;
  padding: 0 20px 0 0;
}

li.twyll {
  border: 0 solid #000;
  border-radius: 20px;
  padding: 16px;
  margin: 30px 10px;

  position: relative;
  page-break-inside: avoid;


  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;

  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6) !important;
  max-width: 15cm;

  min-height: 100px;
}

li.twyll:after {
  content: "";
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px !important;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: -10px;
  left: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: #ededed !important;
}

li.twyll.response {
  margin-left: 1cm;
}

div.twyll-header {
  margin: 10px 0;
}

div.twyll-header img {
  height: 50px;
  width: 50px;
  margin: 0 10px;
  display: inline-block;
}

.img-circle {
  border-radius: 50%;
}

div.twyll-header div {
  display: inline-block ;
  font-size: 18px;
  font-weight: bold;
}

img {
  vertical-align: middle;
}

.numero {
  width: 40px;
}

.anteprima-titolo {
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
