
/************
PRINT
 */
@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}

@page {
    size: A4;
    /*
    margin: 1cm 5cm 3cm 10cm;
    */

    @top-center {
        content: "Page " counter(page);
    }

    counter-increment: page;
    counter-reset: page 1;
    @top-right {
        content: "Page " counter(page) " of " counter(pages);
    }
}






body {
    -webkit-print-color-adjust: exact ;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}

.col-print-1 {width:8%;  float:left;}
.col-print-2 {width:16%; float:left;}
.col-print-3 {width:25%; float:left;}
.col-print-4 {width:33%; float:left;}
.col-print-5 {width:42%; float:left;}
.col-print-6 {width:50%; float:left;}
.col-print-7 {width:58%; float:left;}
.col-print-8 {width:66%; float:left;}
.col-print-9 {width:75%; float:left;}
.col-print-10{width:83%; float:left;}
.col-print-11{width:92%; float:left;}
.col-print-12{width:100%; float:left;}


.container-fluid {
    max-width: 21cm;
}



.pagina{
    background-color: whitesmoke;
    width: 210px;
    height: 297px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6) !important;
}

.vivo{
    background-color: white;
    width: 210px;
    height: 297px;
    background-clip: content-box;
    padding: 20px;
}

.tabella-pagina {
    margin: auto;
}



.copertina {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    background-image: url(../images/maschera-copertina.png), url(../images/logo-copertina.png), url(../images/sfondo.jpg) ;
    background-size: contain, contain, contain;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, center, center;

    width: 170px;
    height: 170px;
}

.copertina-stampa {
    width: 21cm;
    position: relative;
    height: 29.7cm;
    page-break-after: always;

}

.copertina-stampa img{
    position: absolute;
    object-fit: contain;
    width: 21cm;

}

.copertina-stampa .mask{
    z-index: 5;
}

.copertina-stampa .logo-colore{
    z-index: 1;
}

.copertina-stampa .sfondo{
    z-index: 4;
    mix-blend-mode: soft-light;
    opacity: 0.5;
    filter: grayscale(50%) blur(1px);
    clip: rect(0 21cm 21cm 0);
}







/*********
TWYLLS
 */
ul.twylls-list {
    list-style: none;
    padding: 0 20px 0 0;
}

li.twyll {
    border: 0 solid #000;
    border-radius: 20px;
    padding: 16px;
    position: relative;
    page-break-inside: avoid;
    margin: 0.1cm 0 0.5cm 0;

    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;

    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6) !important;
    max-width: 15cm;

    min-height: 100px;
}

li.twyll:after {
    content: "";
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px !important;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: -10px;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: #ededed !important;
}

li.twyll.response {
    margin-left: 1cm;
}

div.twyll-header {
    margin: 10px 0;
}

div.col-print-2 img {
    height: 50px;
    width: 50px;
    margin: 0 10px;
    display: inline-block;
}

.img-circle {
    border-radius: 50%;
}

div.twyll-header div {
    display: inline-block ;
    font-size: 18px;
    font-weight: bold;
}

img {
    vertical-align: middle;
}

.numero {
    width: 40px;
}

.anteprima-titolo {
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.twyll-box {
    page-break-inside: avoid;!important;
    margin: 30px 10px !important;
}

.spazio-twyll {
    background-color: white !important;
    page-break-inside: avoid !important;
    padding: 1px 0;
}

