<div ng-controller="textViewCtrl">
    <div class="col-lg-6">
        <b>Data di inizio</b>
        <input input-text type="text" ng-model="dataInizio" ng-change="setHeader()"  placeholder="Lunedì 14" class="input-info" onClick="this.select();" />
    </div>
    <div class="col-lg-6">
        <b>Data di fine</b>
        <input  input-text type="text" ng-model="dataFine" ng-change="setHeader()"  placeholder="Domenica 21 gennaio" class="input-info" onClick="this.select();" />
    </div>



    <div class="col-lg-6">
        <b>Hashtag</b>
        <input  input-text type="text" ng-model="hashtag" ng-change="setHeader()"  placeholder="#TwInferno" class="input-info" onClick="this.select();" />
    </div >


    <div class="col-lg-2">
        <b>ID titolo</b>
        <input  input-text type="number" ng-model="numero" ng-change="setNumber()"  value="1" placeholder="1"  class="input-info" onClick="this.select();" />
    </div>

    <div class="col-lg-2">
        <b>Interruzione</b>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="interruzione" ng-change="setInterruption()" value="">Pagina</label>
        </div>
    </div>

    <div class="col-lg-2">
        <b>Cifre</b>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="cifre" ng-change="setDigits()" value="">Rimuovi</label>
        </div>
    </div>


    <div class="col-lg-12">
    </div>

    <div class="col-lg-6">
        <b>Titolo</b>
        <input  input-text type="text" ng-model="titolo" ng-change="setTitle()"  placeholder="Canto XXVI" class="input-info" onClick="this.select();"  />
    </div>

    <div class="col-lg-6">
        <b>Sottotitolo</b>
        <input  input-text type="text" ng-model="sottotitolo" ng-change="setSubTitle()"  placeholder="Ulisse" class="input-info" onClick="this.select();" />
    </div>





    <div class="col-lg-3">
        <b>Newsletter</b>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="newsletter" ng-change="setNewsletter()" value="">Banner</label>
        </div>
    </div>

    <div class="col-lg-3">
        <b>Immagine</b>
        <input  input-text type="text" ng-model="immagine" ng-change="setImage()"  placeholder=""  class="input-info" onClick="this.select();" />
    </div>

    <div class="col-lg-3">
        <b>Call 1</b>
        <input  input-text type="text" ng-model="call1" ng-change="setCall1()"  placeholder=""  class="input-info" onClick="this.select();" />
    </div>

    <div class="col-lg-3">
        <b>Call 2</b>
        <input  input-text type="text" ng-model="call2" ng-change="setCall2()"  placeholder=""  class="input-info" onClick="this.select();" />
    </div>





    <div  class="col-lg-12">
        <textarea ng-model="corpo" ng-change="setBody()"  placeholder="Testo diviso in paragrafi (saltando una riga)" class="input" " ></textarea>
    </div>

    <hr>

    <div  class="col-lg-12">
        <textarea id="converted" class="output">{{intestazione_html}}

{{titolo_html}}

{{sottotitolo_html}}

{{corpo_html}}

{{newsletter_html}}

{{interruzione_html}}
        </textarea>
    </div>

    <br>

    <div class="col-lg-12">
        <button class="btn btn-success col-lg-12" ng-click="copy()">Copy to clipboard</button>
    </div>


    <div class="col-lg-12 copiato">
        {{copied}}
    </div>

</div>
